<section class="section-add">
  <div class="container">
    <div class="form__wrapper">
      <form class="form-add" action="/catalog/add" method="POST" enctype="multipart/form-data">

        <span class="form-add__error-message" id="error-message">{{errMessage}}</span>

        <div class="form-add__item">
            <label class="form-add__label" for="pname">Название продукта:</label>
            <input class="content__input form-add__input" type="text" id="pname" name="pname" value="{{form.pname}}"></input>
        </div>

        <div class="form-add__item">
            <label class="form-add__label" for="pdescription">Описание:</label>
            <textarea class="form-add__textarea" id="pdescription" name="pdescription">{{form.pdescription}}</textarea>
        </div>

        <div class="form-add__item">
            <label class="form-add__label" for="pbrand">Бренд:</label>
            <input class="content__input form-add__input" type="text" id="pbrand" name="pbrand" value="{{form.pbrand}}"></input>
        </div>

        <div class="form-add__item">
            <label class="form-add__label" for="pimage">Фото товара:</label>
            <input class="form-add__file" type="file" id="pimage" name="pimage" accept="image/jpeg,image/png,image/gif">
        </div>

        <div class="form-add__item">
            <label class="form-add__label" for="pprice">Цена:</label>
            <input class="content__input form-add__input" type="number" id="pprice" name="pprice" min="0.01" step="0.01" value="{{form.pprice}}"></input>
        </div>

        <button class="btn-gray content__btn" type="submit" id="addProduct">Добавить</button>
      </form>
    </div>

</div>
</section>


<script type="text/javascript" src="/static/js/addProduct.js"></script>