<section class="entry">
    <div class="container">
        <div class="form__wrapper tabs">
            <div class="entry-header">
                <a href="#" {{#if form.changeNav}}
                class="entry-header__button tab__navitem"
                {{else}}class="entry-header__button tab__navitem active"
                {{/if}}>Зарегистрироваться</a>
                <a href="#" {{#if form.changeNav}}class="entry-header__button tab__navitem active"{{else}}class="entry-header__button tab__navitem"{{/if}}>Войти</a>
            </div>
            <div class="entry-content">
                <form action="/entry/registration" method="POST" 
                {{#if form.changeNav}}
                class="js-form-validate entry-content__form tab__item"
                {{else}}class="js-form-validate entry-content__form tab__item active"
                {{/if}}>
                    <span class="content__label">{{form.messageR}}</span>
                    <input class="content__input" name="name" maxlength="255" type="text" placeholder="Имя" value="{{form.name}}">
                    <input class="content__input" name="surname" maxlength="255" type="text" placeholder="Фамилия" value="{{form.surname}}">
                    <input class="content__input" type="tel" name="tel" placeholder="Номер телефона" value="{{form.tel}}" data-mask="phone">
                    <div class="form-group">
                        <input class="content__input" name="mail" maxlength="255" value="{{form.mailR}}" type="email" placeholder="Почта*" data-validate>
                        <span class="some-form__hint">Обязательно для заполнения</span>
                    </div>
                    <div class="form-group">
                        <input class="content__input" name="password" type="password" placeholder="Пароль*" data-validate>
                        <span class="some-form__hint">Обязательно для заполнения</span>
                    </div>
                    <button id="register_sumbit" class="btn-gray content__btn" type="submit">Зарегистрироваться</button>
                </form>
                <form action="entry/authentication" method="POST" {{#if form.changeNav}}
                class="js-form-validate entry-content__form tab__item  active"
                {{else}}class="js-form-validate entry-content__form tab__item"
                {{/if}}>
                    <span class="content__label">{{form.messageA}}</span>
                    <div class="form-group">
                        <input class="content__input" name="mail" maxlength="255" type="email" placeholder="Почта*" value="{{form.mailA}}" data-validate>
                        <span class="some-form__hint">Обязательно для заполнения</span>
                    </div>
                    <div class="form-group">
                        <input class="content__input" name="password" type="password" placeholder="Пароль*" data-validate>
                        <span class="some-form__hint">Обязательно для заполнения</span>
                    </div>
                    <button id="authenticate_sumbit" class="btn-gray content__btn" type="submit">Войти</button>
                </form>
            </div>
        </div>
    </div>
</section>