<div class="grey-section">
    <div class="container">
        <div class="goods-cards tab__item active">
            <div class="goods-cards__item">
                <h4 class="block-title mobile-display" style="font-size: 18px; margin-bottom: 16px;">{{Product.productName}}</h4>
                <div class="goods-cards__img">
                    {{#if Product.imageExt}}
                    <img src="/static/images/products/{{Product.productName}}{{Product.imageExt}}" alt="{{Product.productName}}">
                    {{else}}
                    <img src="/static/images/products/default.png" alt="{{Product.productName}}">
                    {{/if}}
                </div>
                <div class="goods-cards__content">
                    <h4 class="block-title mobile-hidden">{{Product.productName}}</h4>
                    <div class="goods-cards__rating rating__group">
                        <label class="rating__star" aria-label="Ужасно">
                            <input class="rating__input" type="radio" name="Protein-Shake" value="1">
                        </label>
                        <label class="rating__star" aria-label="Сносно">
                            <input class="rating__input" type="radio" name="Protein-Shake" value="2">
                        </label>
                        <label class="rating__star" aria-label="Нормально">
                            <input class="rating__input" type="radio" name="Protein-Shake" value="3" checked>
                        </label>
                        <label class="rating__star" aria-label="Хорошо">
                            <input class="rating__input" type="radio" name="Protein-Shake" value="4">
                        </label>
                        <label class="rating__star" aria-label="Отлично">
                            <input class="rating__input" type="radio" name="Protein-Shake" value="5">
                        </label>
                        <div class="rating__focus"></div>
                    </div>
                    <p class="block-text">{{Product.productDescription}}</p>
                    {{#if Product.brand}}
                    <p class="block-text">Бренд: {{Product.brand}}</p>
                    {{/if}}
                    <p class="goods-cards__price px13"><span>{{Product.productPrice}} руб.</span></p>
                    <div class="goods-action">
                        <div>
                            {{#if Product.Orders.0.OrderedProduct.countOfProducts}}
                            <button class="btncart btn_minus goods-action-btn" onclick="decreaseCountCart({{Product.id}}, this)"></button>
                            <h4 class="block-title">{{Product.Orders.0.OrderedProduct.countOfProducts}}</h4>
                            <button class="btncart btn_plus goods-action-btn" onclick="increaseCountCart({{Product.id}}, this)"></button>
                            {{else}}
                            <div>
                                <button class="btn-gray" onclick="addToCart('{{Product.id}}', this)">В корзину</button>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/cart.js"></script>